<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chen.media_notification">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>
        <receiver
            android:name=".NotificationUtil"
            android:exported="true">
            <intent-filter>
                <action android:name="play_pre" />
                <action android:name="play_next" />
                <action android:name="play_resume_pause" />
                <action android:name="play_like" />
                <action android:name="play_exit" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
